<section id="make">
  <div class="make">
    <!-- link and info about makeathon team and project -->
    <div class="make-img">

    </div>
    <div class="make-content">

    </div>
  </div>
</section>