<header>
  <div class="social">
    <!-- social icon links -->
    <% profile.social.forEach(social => { %>
      <a href="<%= social.url %>">
        <img src="<%= social.logo %>" alt="<%= social.site %>">
      </a>
    <% }); %>
  </div>
  <nav>
    <!-- nav links -->
    <ul id="fullnav">
      <li><a class="navbutton active" href="#about">About</a></li>
      <li><a class="navbutton" href="#projects">Projects</a></li>
      <li><a class="navbutton" href="#make">Makeathons</a></li>
      <li><a class="navbutton" href="#meetup">Meetup</a></li>
    </ul>
    <ul id="mobilenav">
      <li>
        <a href="#popout">
          <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</header>