<div class="sidemenu">
  <button id="close">
    <div class="cross1"></div>
    <div class="cross2"></div>
  </button>
  <nav id="sidenav">
    <!-- nav links -->
    <ul>
      <li><a class="navbutton" href="#about">About</a></li>
      <li><a class="navbutton" href="#projects">Projects</a></li>
      <li><a class="navbutton" href="#make">Makeathons</a></li>
      <li><a class="navbutton" href="#meetup">Meetup</a></li>
    </ul>
  </nav>
</div>