* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}
h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
html, body {
  min-height: 100%;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(rgba(129, 215, 255, 0.3), #ffffff);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  max-width: 1000px;
  margin: 0px auto 0px;
  padding-bottom: 140px;
}
section {
  /* offset for smooth scroll */
  margin-bottom: -65px;
  padding-top: 75px;
  width: 100%;
}
/* Nav Header ==================== */
header {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
header .social {
  /* background: lightgreen; */
  width: 25%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
header .social img {
  height: 50px;
  width: auto;
  margin: 10px;
  transition-property: height, margin;
  transition-duration: 300ms;
}
nav {
  width: 50%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
nav li {
  width: 100%;
}
nav li a {
  display: inline-block;
  color: black;
  height: 30px;
  font-weight: normal;
  font-size: 1.25rem;
  width: 100%;
  text-decoration: none;
  transition-property: font-size, border-bottom;
  transition-duration: 500ms;
  border-bottom: 0px solid lightsalmon;
}
nav li a:hover {
  font-weight: bold;
}
nav .active {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.2rem;
  border-bottom: 7px solid lightsalmon;
}
/* About Section ================= */
section#about .about {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.about-img {
  margin: 10px;
  width: 175px;
  z-index: -1;
}
.about-img-cut {
  border-radius: 50% / 50%;
  overflow: hidden;
}
.about-img img {
  width: 175px;
  height: auto;
  transform: scale(1.15) translate(10px);
}
.about-title {
  background: pink;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  height: 40px;
  margin: 10px;
  padding: 10px;
}
.about-content {
  margin: 0 10px 10px;
  padding: 0 10px 10px;
}
/* Projects Section ============== */
section#projects .project {
  margin: 0px auto 30px;
  background: lightskyblue;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.project-img {
  margin: 10px;
  padding: 5px;
}
.project-img img {
  width: 300px;
  height: auto;
}
.project-title {
  background: pink;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  height: 40px;
  margin: 10px;
  padding: 10px;
}
.project-content {
  margin: 0 10px 10px;
  padding: 0 10px 10px;
}
/* Meetup Section ================ */
section#meetup .meetup {
  background: lightyellow;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.meetup-img {
  background: silver;
  width: 30%;
  height: 40px;
  margin: 10px;
}
.meetup-content {
  background: pink;
  height: 40px;
  margin: 10px;
  padding: 10px;
}
/* Footer Section ================ */
footer {
  background: lightsalmon;
  width: 100%;
  height: 50px;
  margin-top: -50px;
}

/* todo: nav bar shrink on scroll */
/* todo: media queries */
/* - hamburger */
/* - about stacks */
/* - projects stack */