/* Colors ======================== */
:root {
  /* Pallette */
  /* https://www.colourlovers.com/palette/131576/Maddening_Caravan */
  --primary: #FAD089;
  --primary-accent: #FF9C5B;
  --secondary: #F5634A;
  --secondary-accent: #ED303C;
  /* Elements */
  --font-color: black;
  --bg-color: white;
  --title-color: var(--secondary);
  --title-font-color: white;
  --holder-color: var(--primary);
  --active-nav: var(--secondary);
  --footer-color: var(--primary-accent);
  --footer-font-color: white;
  --box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}

/* Top Level ===================== */
* {
  /* border: 1px solid red; */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--font-color);
}
h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
}
html, body {
  min-height: 100%;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--bg-color)), color-stop(30%), to(white));
  background: linear-gradient(var(--bg-color), 30%, white);
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  max-width: 1000px;
  margin: 0px auto 0px;
}
section {
  /* offset for smooth scroll */
  /* margin-bottom: -65px; */
  padding-top: 75px;
  width: 100%;
}
/* Nav Header ==================== */
header {
  background: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* Header Social Icons ================== */
header .social {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .social img {
  height: 50px;
  width: auto;
  -webkit-transition-property: height, margin;
  transition-property: height, margin;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
header .social a {
  margin: 12px 10px 8px;
}
/* Nav Buttons =================== */
nav#fullnav {
  width: 50%;
}
nav#fullnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav li {
  width: 100%;
}
nav li a {
  display: inline-block;
  color: var(--font-color);
  height: 30px;
  font-weight: normal;
  font-size: 1.25rem;
  width: 100%;
  text-decoration: none;
  -webkit-transition-property: font-size, border-bottom;
  transition-property: font-size, border-bottom;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  border-bottom: 0px solid white;
  border-radius: 5px;
}
nav li a:hover {
  font-weight: bold;
}
nav .active {
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.2rem;
  border-bottom: 7px solid var(--active-nav);
}
/* Hamburger Menu Icon =========== */
#mobilenav {
  display: none;
}
button#hamburger {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 60px;
  border-radius: 5px;
  border: 1px solid white;
  background: white;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition-property: width, top;
  transition-property: width, top;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
button#hamburger .line {
  width: 70%;
  border: 2.5px solid black;
  margin: 8px 7px;
  -webkit-transition-property: width, margin, border;
  transition-property: width, margin, border;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
/* Hamburger Menu Slide Out ====== */
button#close {
  margin: 20px;
  margin-left: 30px;
  width: 40px;
  height: 40px;
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}
button#close .cross1 {
  border: 2.5px solid black;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
button#close .cross2 {
  margin-top: -5px;
  border: 2.5px solid black;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.sidemenu {
  background: white;
  z-index: 1;
  position: fixed;
  top: 0px;
  right: -300px;
  bottom: 0px;
  width: 80vw;
  max-width: 300px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
nav#sidenav ul {
  list-style-type: none;
  margin: 0 20px;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
nav#sidenav li {
  margin: 5px 0;
}
nav#sidenav a {
  padding: 10px 0;
  background-color: whitesmoke;
  font-size: 2rem;
  border-radius: 5px;
  /* line-height: 1.25rem; */
  height: 100%;
}
/* About Section ================= */
section#about .about {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.about-img {
  /* Pull the whole thing under the navbar */
  z-index: -1;
  padding: 10px;
}
.about-img-holder {
  margin: 0px auto;
  border-radius: 25px;
  overflow: hidden;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}
.about-img-holder img {
  width: 250px;
  height: auto;
  -webkit-transform: scale(1.15) translate(10px);
          transform: scale(1.15) translate(10px);
}
.about-title {
  border-radius: 10px;
  background: var(--title-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  height: 45px;
  margin: 10px;
  padding: 10px;
}
.about-title h2 {
  color: var(--title-font-color);
}
.about-content {
  margin: 0 10px 10px;
  padding: 0 10px 10px;
}
/* Projects Section ============== */
section#projects .project {
  border-radius: 10px;
  margin: 0px auto 30px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
              /* inset 0px 0px 300px var(--holder-color); */
  background-color: var(--primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.project-img {
  margin: 10px;
  padding: 5px;
}
.project-img img {
  border-radius: 10px;
  width: 350px;
  height: auto;
}
.project-title {
  border-radius: 10px;
  background: var(--title-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  height: 45px;
  margin: 15px;
  padding: 10px;
}
.project-title h2 {
  color: var(--title-font-color);
}
.project-content {
  margin: 0 10px 10px;
  padding: 0 10px 10px;
}
/* Meetup Section ================ */
/* section#meetup .meetup {
  background: lightyellow;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.meetup-img {
  background: silver;
  width: 30%;
  height: 40px;
  margin: 10px;
}
.meetup-content {
  background: pink;
  height: 40px;
  margin: 10px;
  padding: 10px;
} */
/* Footer Section ================ */
footer {
  background: var(--footer-color);
  background: -webkit-gradient(linear, left top, left bottom, from(var(--bg-color)), color-stop(5%), to(var(--footer-color)));
  background: linear-gradient(var(--bg-color), 5%, var(--footer-color));
  color: white;
  width: 100%;
  margin-top: 70px;
}
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .social img {
  margin: 30px 30px 10px;
  height: 40px;
  width: auto;
  -webkit-filter: invert(1);
          filter: invert(1);
}

/* Media Queries ================= */
@media screen and (max-width: 720px) {
  /* toggle hamburger at nav breakpoint */
  #fullnav { display: none; }
  #mobilenav { display: block; }
  /* give social links more room */
  nav#mobilenav { width: 0%; }
  header .social { width: 50%; }
  /* switch about into to column */
  section#about .about { 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-title { text-align: center; }
  /* switch projects to columns */
  section#projects .project { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .project-img { margin: 15px auto 0px; }
  .project-title { text-align: center; }
}
@media screen and (max-width: 400px) {
  /* fill site to full width */
  main { width: 100%; }
  /* fix project images and social icons overflowing */
  .project-img img { width: 90vw; }
  /* give social links more room */
  nav#mobilenav { width: 20%; }
  header .social { width: 50%; }
  /* larger about image */
  section#about .about-img-holder img {
    width: 100%;
  }
}